.contatos{
  color: white
}
.mobile{
  text-decoration: none;
  color: white
}
  @media (max-width:540px) {
    .contatos{
      display: none;
    }
    .mobile {
      font-size: 13px;
      text-decoration: none;
      color: white
    }
  }